// ================== PLACEHOLDERS ==================

// Tarjeta elevada genérica
%card-elevated {
  border: 0.0625rem solid #ddd;
  border-radius: $radius-card;
  box-shadow: $shadow-card;
  background: $color-card-bg;
}
