.link_footer {
  color: #ffffff;
  text-decoration: underline;
}

footer {
  background: #5f1651;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  text-align: left;
  padding: 1rem;
}

footer p {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-bottom: 0.125rem;
}



/* ================== RESPONSIVE FOOTER ================== */

@media (max-width: 480px) {
  footer {
    text-align: center;
    font-size: 0.9rem;
    padding: 0.75rem 1rem;
    margin-top: auto;
  }

  footer p:last-child {
    margin-bottom: 0;
  }
}
