/* ================== HEADER / NAVBAR ================== */

@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.header {
  background: $color-baron-primary;
}

/* Logo */
.navbar__logo {
  width: 5rem;
  height: auto;
  margin: 0;

  /* ================== RESPONSIVE LOGO ================== */
  @include respond-to(lg) {
    width: 4rem;
  }

  @include respond-to(md) {
    width: 3.75rem;
  }

  @include respond-to(sm) {
    width: 3.25rem;
  }
}

/* Links generales */
.navbar {
  .nav-link,
  .navbar-brand {
    color: $color-white;
    font-size: 1.2rem;

    @include respond-to(lg) {
      font-size: 1rem;
    }

    @include respond-to(sm) {
      font-size: 0.95rem;
    }
  }

  /* Dropdown */
  .dropdown-menu {
    background: $color-baron-primary;
    padding: 1rem 2rem;
    font-family: "Roboto", sans-serif;
    color: $color-white;
    box-shadow: 0 0.125rem 0.5rem rgba(255, 255, 255, 0.15);

    .dropdown-item {
      color: $color-white;
      font-size: 1.2rem;

      @include respond-to(lg) {
        font-size: 1rem;
      }

      @include respond-to(sm) {
        font-size: 0.95rem;
      }

      &:hover {
        color: $color-gold-light;
      }

      &.active,
      &:active {
        font-weight: 700;
        background: $gradient-gold;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-color: transparent !important;
      }

      &:focus,
      &:focus-visible {
        outline: none;
        box-shadow: none;
        background-color: transparent;
      }
    }
  }

  /* Estilo base links */
  .nav-link,
  .dropdown-item {
    color: #fdf1ff;
    font-weight: 500;

    &:hover {
      color: $color-gold-light;
    }
  }

  /* Estado activo */
  .nav-link.active,
  .nav-link.show {
    font-weight: 700;
    background: $gradient-gold;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  /* ================== NAVBAR CENTRADO 768–991 ================== */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-nav {
      width: 100%;
      justify-content: center;
      gap: 2rem;
    }

    .nav-link {
      text-align: center;
    }
  }
}

/* Hamburguesa */
.navbar-toggler {
  border-color: $color-white;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

/* ================== RESPONSIVE NAVBAR ================== */

@include respond-to(lg) {
  /* <= 992px */
  .navbar .nav-link,
  .navbar .dropdown-item {
    font-size: 1rem;
  }
}

@include respond-to(md) {
  /* <= 768px */
  .navbar .nav-link,
  .navbar .dropdown-item {
    font-size: 1rem;
  }
}

@include respond-to(sm) {
  /* <= 480px */
  .navbar .nav-link,
  .navbar .dropdown-item {
    font-size: 0.95rem;
  }
}
